<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header') %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2>Recuperar Senha</h2>
        <hr> <br>
        <% if(success) { %>
          <div class="alert alert-success">
            <%= success %>
          </div>
        <% } %>

        <% if(errors) { %>
          <div class="alert alert-danger">
            <%= errors %>
          </div>
        <% } %>

        <p>
          Digite seu email para receber as instruções de como recuperar a sua senha!
        </p>

        <form action="/v1/api/usuarios/recuperar-senha" method="POST">
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Digite seu email!">
          </div>
          <button class="btn btn-primary">Recuperar Senha!  </button>
        </form>
      </div>
    </div>
  </div>

</body>
</html>